{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.

    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}

    <h1>Events Dashboard</h1>
    <ul>
      <li><a href="{% url 'search:student_event' %}"> Event Example #1: Google Summer Intern </a></li>
      <li><a href="">Event Example #2: Facebook Summer Intern (not clickable)</a></li>
    </ul>

{% endblock %}
