{% extends 'layouts/default/page.html' %}

{% load i18n %}

    {% block content %}
      <p>This is the search page. </p>

      {% if error_msg %}
        <p>{{ error_msg }}</p>

      {% elif result_list %} 
        {% for event in result_list %}
        <div>
          <li>
            <a href="{% url 'event:detail' event.id %}">{{ event.title }}</a> {{event.company}}
          </li>
        </div>
        {% endfor %}
      

      {% else %}
        <div class="no-result">
          Didn't find a related event ;(
        </div>
      
      {% endif %}
      

    {% endblock %}