{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
	<!-- Tab links -->
<!-- <p> Please select which type of account you want to create:</p> -->
<!-- <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#StuAcc">Student</a></li>
  <li><a data-toggle="tab" href="#RecAcc"> &nbsp&nbsp&nbsp Recruiter</a></li>
</ul>

<div class="tab-content">
  <div id="StuAcc" class="tab-pane fade in active">
    <h3>Create your student account</h3>
    <p>    
      <form method="post">
 -->
        <p><form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success">{% trans 'Create' %}</button>

    </form></p>
<!-- 
        <button class="btn btn-success">{% trans 'Create' %}</button>

    </form>
  </p>
  </div>
  <div id="RecAcc" class="tab-pane fade">
    <h3>Create your recruiter account</h3>
    <p><form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success">{% trans 'Create' %}</button>

    </form></p> -->
 <!--  </div>
</div>
 -->


{% endblock %}
