{% extends 'layouts/default/page.html' %}

{% load i18n %}
{% load static %}

<!-- {% block css %}
    <link href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css" rel="stylesheet">

{% endblock %} -->

{% block content %}
    <section class="content-header margin-bottom">
        <ol class="breadcrumb">
            <li><a href="">All Events</a></li>
            <li><a href="">My Event</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id="calendar">
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </section>

    <!-- /.content -->

{% endblock %}

{% block javascripts %}
    <!-- <script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script> -->
    <script type="text/javascript">
    $(function () {
            //initialize FullCalendar
            $('#calendar').fullCalendar({

            });
        });

    </script>
{% endblock %}