{% extends 'layouts/default/page.html' %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css" rel="stylesheet">
    
    <!-- Icon database -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  

{% endblock %} -->

{% block content %}
    <section class="content-header margin-bottom">
        <ol class="breadcrumb">
            <p> 
                {{request.user.company}}
                
                
                Event Categories: &nbsp;&nbsp;
            </p>
            <div style="float:left">
                <button type="button" class="btn btn-primary btn-sm">Info-session</button>
                {% if request.user.is_recruiter %}
                <button type="button" class="btn btn-info btn-sm">Career Booths</button>
                <button type="button" class="btn btn-outline-info btn-sm">Booked Interview</button>
                {% elif request.user.is_student %}
                <button type="button" class="btn btn-info btn-sm">Interviews</button>
                {% endif %}
                <button type="button" class="btn btn-warning btn-sm">Career fair</button>
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if request.user.is_recruiter %}
            <div style="float:right" >
                <button type="button" onclick="location.href='{% url 'event:create_event' %}'" class="btn btn-light"> Create Infosession</button>
                <button type="button" onclick="location.href='{% url 'career_fair:create-booth' %}'" class="btn btn-light"><i class="fa fa-plus" aria-hidden="true"></i> Create Career Booth</button>
            </div>
            {% endif %}

        </ol>
  


    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id="calendar">
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </section>

    <!-- /.content -->

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script> 

    <script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script> 

    
    <script>

        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
  
          var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],

            defaultView: 'dayGridMonth',
            header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },

            timeZone: "local",
            nowIndicator: true,

            // Event Popover
            // eventLimit: true, // for all non-TimeGrid views
            //     views: {
            //         timeGrid: {
            //         eventLimit: 8 // adjust to 6 only for timeGridWeek/timeGridDay
            //         }
            // },


            eventTextColor: 'white',


            events: [
                    {% for i in event_list %}
                        {
                            title: '{{ i.title }}',
                            // description: '{{ i.title}}',
                            description: 'description for All Day Event',
                            start: '{{ i.date|date:"Y-m-d" }}'+'T'+'{{ i.start_time|date:"H:i:s"}}',   // ISO8061 format
                            end: '{{ i.date|date:"Y-m-d" }}'+'T'+'{{ i.end_time|date:"H:i:s"}}',
                            url: "{% url 'event:detail' i.id %}",                                      // default color: #4c86d2  bootstrap blue:#007BFF
                        },
                    {% endfor %}

                    {% for i in past_event_list %}
                        {
                            title: '{{ i.title }}',
                            start: '{{ i.date|date:"Y-m-d" }}'+'T'+'{{ i.start_time|date:"H:i:s"}}',   // ISO8061 format
                            end: '{{ i.date|date:"Y-m-d" }}'+'T'+'{{ i.end_time|date:"H:i:s"}}',
                            url: "{% url 'event:detail' i.id %}",
                            color: '#7698C4',
                        },
                    {% endfor %}

                    {% for i in career_list %}
                        {
                            title: '{{ i.university }}'+' Career Fair',
                            start: '{{ i.firstdate|date:"Y-m-d" }}',   // ISO8061 format
                            end: '{{ i.lastdate|date:"Y-m-d" }}',
                            url: "{% url 'career_fair:detail' i.id %}",
                            color: '#FFC108',   
                        },
                    {% endfor %}

                    {% for i in past_career_list %}
                        {
                            title: '{{ i.university }}'+' Career Fair',
                            start: '{{ i.firstdate|date:"Y-m-d" }}',   // ISO8061 format
                            end: '{{ i.lastdate|date:"Y-m-d" }}',
                            url: "{% url 'career_fair:detail' i.id %}",
                            color: '#F0D477',
                        
                        },
                    {% endfor %}

                    {% for i in booth_list %}
                        {
                            title: '{{ i.booth_name }}',
                            start: '{{ i.date|date:"Y-m-d" }}',   // ISO8061 format
                            url: "{% url 'career_fair:booth_detail' i.id i.company%}",
                            color: '#16A2B8',
                        },
                    {% endfor %}

                    {% for i in past_booth_list %}
                        {
                            title: '{{ i.booth_name }}',
                            start: '{{ i.date|date:"Y-m-d" }}',   // ISO8061 format
                            url: "{% url 'career_fair:booth_detail' i.id i.company%}",
                            color: '#6FB0BA',
                        },
                    {% endfor %}


                    {% if request.user.is_student %}
                    {% for i in interview %}
                        {
                            title: '{{ i.container.career_booth.company }}'+'@'+ '{{ i.container.career_booth.university }}',
                            start: '{{ i.container.career_booth.date|date:"Y-m-d" }}'+'T'+'{{ i.key}}'+':00',   
                            end: '{{ i.container.career_booth.date|date:"Y-m-d" }}'+'T'+'{{ i.end}}'+':00', 
                            color: '#16A2B8',
                        },
                    {% endfor %}
                    {% endif %}

                    {% if request.user.is_recruiter %}
                    {% for i in interview_booked %}
                        {
                            title: '{{ i.value}}',
                            start: '{{ i.container.career_booth.date|date:"Y-m-d" }}'+'T'+'{{ i.key}}'+':00',   
                            end: '{{ i.container.career_booth.date|date:"Y-m-d" }}'+'T'+'{{ i.end}}'+':00', 
                            color: 'white',
                            borderColor: '#16A2B8 ',
                            textColor: '#16A2B8 ',
                        },
                    {% endfor %}

                    {% for i in interview_left %}
                        {
                            title: '{{ i.value}}',
                            start: '{{ i.container.career_booth.date|date:"Y-m-d" }}'+'T'+'{{ i.key}}'+':00',   
                            end: '{{ i.container.career_booth.date|date:"Y-m-d" }}'+'T'+'{{ i.end}}'+':00', 
                            color: '#c6cfd7',
                        },
                    {% endfor %}

                    {% endif %}

                
            ],
            
            // / customButtons: {
            //     AddEvent: {
            //         text: 'Create An Event',
            //         click: function (){
            //             // location.href="{% url 'event:create_event' %}"；
            //             alert('RUN!')
            //         }
            //     },/ {% if request.user.is_recruiter %}
            
            // {% endif %}
            

            // Event description pop out (currently not working...)
            // eventRender: function(info) {
            //     var tooltip = new Tooltip(info.el, {
            //         title: info.event.extendedProps.description,
            //         placement: 'top',
            //         trigger: 'hover',
            //         container: 'body'
            //     });
            // },

            // eventMouseover: function(calEvent, jsEvent) {
            //     var tooltip = '<div class="tooltipevent" style="width:100px;height:100px;background:#ccc;position:absolute;z-index:10001;">' + calEvent.title + '</div>';
            //     var $tooltip = $(tooltip).appendTo('body');

            //     $(this).mouseover(function(e) {
            //         $(this).css('z-index', 10000);
            //         $tooltip.fadeIn('500');
            //         $tooltip.fadeTo('10', 1.9);
            //     }).mousemove(function(e) {
            //         $tooltip.css('top', e.pageY + 10);
            //         $tooltip.css('left', e.pageX + 20);
            //     });
            // },

            // eventMouseout: function(calEvent, jsEvent) {
            //     $(this).css('z-index', 8);
            //     $('.tooltipevent').remove();
            // },

            // eventRender: function(event, element) {
            //     // element.attr('title', event.tooltip);
            // },

          });
  
          calendar.render();
        });
  
    </script>

{% endblock %}


