{% extends 'layouts/default/index.html' %}

{% load i18n %}

{% block content %}

    <h1>HOMEPAGE</h1>
    <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p> -->
    <ul>
      <li><strong>Events available:</strong> {{ num_event }}</li>
    </ul>
  
    <h1>Event List</h1>
    {% if event_list %}
    <ul>
      {% for event in event_list %}
        <li>
          <a href="{{ event.get_absolute_url }}">{{ event.title }}</a> ({{event.company}})
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no event in the library.</p>
    {% endif %}       

{% endblock %}

