{% extends 'layouts/default/page.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
    	{% if request.user.is_recruiter %}
    		  <div class="row">
			    <div class="col-md-8 col-sm-10 col-12">
			      <h2>Create your event</h2>
			      <form method="post" novalidate>
			        {% csrf_token %}
			        <input type="hidden" name="next" value="{{ next }}">
			        {{ form|crispy }}
			        <button type="submit" class="btn btn-success">Sign up</button>
			      </form>
			    </div>
			  </div>
    	{% else %}
    		You are not a recruiter, thus, cannot create an event
    	{% endif %}
    {% else %}
    	You are not authenticated. Please validate your email to create an event.
    {% endif %}
    
{% endblock %}