{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

          <h1>Event Dashboard</h1>
            {% if all_events %}
          <!-- </div class="card-group"> -->
              <ul>
                {% for event in all_events %}
                  <div class="card border-info mb-3" style="max-width: 20rem;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <!-- <div class="card-header">Header</div> -->
                  
                      <div class="card-body text-dark">
                          <h5 class="card-title bg-info text-white ">{{event.title}}</h5>
                          <p class="card-text">{{event.summary}}</p>
                          

                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{event.main_recruiter}}</li>
                            <li class="list-group-item">{{event.date}} at {{event.time}}</li>
                            <li class="list-group-item"> Spaces Open:
                                {% if event.rsvp_capacity != 0 %}
                                {{event.space_open}}
                                {% else %}
                                No Limit!
                                {% endif %}
                            </li>
                          </ul>
                      </div> 
                      
                      <div class="card-body">
                          <a href="{% url 'event:detail' event.id %}" class="btn btn-info"> See Details</a> {{event.company}}
                          <a href="{% url 'event:rsvp' event.id %}" class="btn btn-success"> RSVP </a>
                      </div> 
                  </div>
                  <!-- <li>
                    <a href="{% url 'event:detail' event.id %}">{{ event.title }}</a> {{event.company}}
                  </li> -->
                {% endfor %}
              </ul>
        
            {% else %}
              <p>There are no event in the library.</p>
            {% endif %} 
          </ul>  

    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}

{% endblock %}