{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}
    <h1> Example #1: Google Summer Intern </h1>
    <ul>
    <li> Date: ...... </a></li>
    <li> Summary: blablbalbalablabala</a></li>
    </ul>
    


<!-- <div class="btn-group"> -->
    <a href="{% url 'calendars:view_calendar' %}" class="btn btn-warning" role="button">Add to Calendar</a>
    <a href="{% url 'infosession:view_infosession' %}" class="btn btn-primary" role="button">Join Info-session</a>
    <a href="{% url 'interview:view_interview' %}" class="btn btn-success" role="button">Schedule An Interview</a>
<!-- </div>     -->

{% endblock %}