{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}
    <p>Title: {{ event.title }}</p>
    <p>Recruiter: {{ event.main_recruiter }}</p>
    <p>Summary: {{ event.summary }}</p>
    <p>Date: {{ event.date }}</p>
    <p>Time: {{ event.time }}</p>
    {% if event in past_event_list %}
        {% trans 'This event has already occurred.' %}
    {% else %}
        {% if request.user.is_student %}
            {% if rsvp_bool %}
                <button class="btn btn-success" onclick="location.href='{% url 'event:rsvp' event.id%}'"> RSVP</button>
                <a class="btn btn-info" href= {{event.join_zoom_url}} target="_blank" role="button">Join Meeting</a>
            {% else %}
                <a href="{% url 'event:un_rsvp' event.id %}" class="btn btn-success"> Unregister </a>
            {% endif %}
        {% elif request.user.is_recruiter %}
            <a class="btn btn-info" href= {{event.start_zoom_url}} target="_blank" role="button">Start Meeting</a>
            <button class="btn btn-warning" onclick="location.href='{% url 'event:delete_event' event.id%}'"> Delete Event</button>
        {% else %}
            {% trans 'You are a guest.' %}
        {% endif %}
    {% endif %}
    <script>
        function goBack()
        {
            window.history.back()
        }
    </script>
    <input class="btn btn-primary" type="button" value="<<Back" onclick="goBack()">
    
{% endblock %}